// Typography
$family-primary: 'Fira Sans';

// Palette
$stormy: #494E6B;
$cloud: #98878F;
$sunset: #985E6D;
$evening: #192231;

// Mappings
$primary: $stormy;
$light: $cloud;
$dark: $evening;
$footer-background-color: $sunset;
